<h1>Rap Analysis Web-app</h1>
<ul>
  <% @songs.each do |song| %>
    <li><a href="/songs/<%= song.id %>"><%= song.name %> :: <%= song.comma_separated_artists %> :: <%= song.album.title %></a></li>
  <% end %>
</ul>

<%= link_to "New Song", new_song_path %>