<h1>Rap Analysis Web App</h1>
<div class="nav-bar">
  <% if current_user.nil? %>
    <%= link_to "Login", login_path %>
    <%= link_to "Create Account", new_user_path %>
  <% else %>
    <%= link_to current_user.username, current_user %>
    <%= link_to "Logout", logout_path, method: :delete %>
  <% end %>
</div>


<ul>
  <% @songs.each do |song| %>
    <li><a href="/songs/<%= song.id %>"><%= song.name %> :: <%= song.comma_separated_artists %> :: <%= song.album.title %></a></li>
  <% end %>
</ul>

<%= link_to "New Song", new_song_path %>