<h1>Rap Analysis Web App</h1>

<ul class="tabs" data-tabs id="example-tabs">
  <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Tab 1</a></li>
  <li class="tabs-title"><a href="#panel2">Tab 2</a></li>
</ul>
<div class="tabs-content" data-tabs-content="example-tabs">
  <div class="tabs-panel is-active" id="published-songs">
    <table>
      <thead>
        <tr>
          <th width="200">Song</th>
          <th>Artists</th>
          <th width="150">Album</th>
        </tr>
      </thead>
      <tbody>
        <% Song.where(published: true).each do |song| %>
          <tr>
            <td><a href="/songs/<%= song.id %>"><%= song.name %></a></td>
            <td><%= song.comma_separated_artists %></td>
            <td><%= song.album.title %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="tabs-panel" id="personal-songs">
    <table>
      <thead>
        <tr>
          <th width="200">Song</th>
          <th>Artists</th>
          <th width="150">Album</th>
        </tr>
      </thead>
      <tbody>
        <% Song.where(transcriber_id: current_user.id).each do |song| %>
          <tr>
            <td><a href="/songs/<%= song.id %>"><%= song.name %></a></td>
            <td><%= song.comma_separated_artists %></td>
            <td><%= song.album.title %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- Add Path to edit songs -->
<!-- Also make conditional so it doesn't show if logged in -->
<!-- Also make new song a button -->
<!-- Also change size of tabs if possible -->


<%= link_to "New Song", new_song_path %>
