<div class="container">
  <h1><%= @artist.name %></h1>
  <h2>Region: <%= @artist.region %></h2>
  <h3>Albums</h3>
  <% @artist.albums.each do |album| %>
    <h4><%= album.title %> :: <%= album.year %></h4>
    <ul>
    <% album.songs.each do |song| %>
      <li><a href="/songs/<%= song.id %>"><%= song.name %></a></li>
    <% end %>
    </ul>
  <% end %>
  <%= erb :'/partials/statistics', locals: { content: @artist }, layout: false %>

</div>
