<div>
  <form action="/measures/<%= @measure.id %>/complete" method="POST" class="add-qualities-to-cells">
    <!-- <input type="hidden" name="_method" value="PUT"> don't need because of Ajax-->
    <input type="hidden" name="measure_id" value="<%= @measure.id %>">
    <input type="hidden" class="selected" value="">
    <!-- Add variable to pass for  -->
    <% COLORS = ["aqua", "blue", "fuchsia", "orange", "green", "lime", "maroon", "navy", "olive", "purple", "red", "teal", "yellow"] %>
    <% COLORS.each do |color| %>
    <button style="color: <%= color %>" class="add-quality" value="<%= color %>Rhyme"><%= color %>Rhyme</button>
    <% end %>
    <button style="color: white" class="add-quality" value="" >No Rhyme</button>


    <button class="add-quality" value="stressed">Stressed Syllable</button>
    <button class="add-quality" value="end-rhyme">End Rhyme</button>

    <div class="row">
      <% cells = @measure.cells.sort_by do |cell|
        cell.id
      end %>
      <% cells.each do |cell| %>
      <% stressed = "" %>
      <% end_rhyme = "" %>
      <% stressed = "stressed" if cell.stressed %>
      <% end_rhyme = "end-rhyme" if cell.end_rhyme %>
      <div class="col" style="width:<%= cell.note_duration/9.6 %>%">
        <button class="select <%= cell.rhyme %> <%= stressed %> <%= end_rhyme %>" name="<%= cell.id %>"><%= cell.content %></button>
      </div>
      <% end %>
    </div>
    <br>
    <input type="submit">
  </form>
</div>
