<div class="edit-section">
  <input type="hidden" name="section-id" value="<%= section.id %>">
  <!-- refactor for section artists -->
  <div class="row">
    <div class="small-6 columns">
      <h5> <%= section.section_type %> by <%= section.comma_separated_artists %></h5>
    </div>
    <div class="small-6 columns">
      <a class="small alert button float-right delete-section" href="#">Delete Section</a>
    </div>
  </div>
  <%= render partial: "open_edit_menu_button" %>
  <!-- refactor for different beats per measure -->
  <%= render partial: "section_duration_header" %>

  <div class="row">
    <div class="small-12 columns selectable">
      <% section.ordered_phrases.each do |phrase| %>
        <%= render partial: 'edit_phrase', locals: { phrase: phrase } %>
      <% end %>
    </div>
  </div>

  <%= render partial: "add_section_button", locals: { section_number: section.section_number + 1 } %>
</div>