
<div class="statistics">
    <h3>Statistics</h3>
    <p>% of syllables rhymed: <%= content.percent_of_rhyming_syllables %></p>
    <p>Average end rhyme syllable count: <%= content.average_end_rhyme_syllable_count %></p>
    <p>Percent of measures with beat one stressed: <%= content.percent_of_measures_with_stress_on_beat_one %></p>
    <p>Placement of stressed syllables: </p>
    <table>
      <tr>
        <th>Placement</th>
        <th>Count</th>
      </tr>
      <% content.placement_of_stressed_syllables.each do |beginning, count| %>
      <tr>
        <td><%= beginning %></td>
        <td><%= count %></td>
      </tr>
      <% end %>
    </table>
    <p>Placement of end rhymes: </p>

    <table>
      <tr>
        <th>Placement</th>
        <th>Count</th>
      </tr>
      <% content.placement_of_end_rhymes.each do |beginning, count| %>
      <tr>
        <td><%= beginning %></td>
        <td><%= count %></td>
      </tr>
      <% end %>
    </table>
  </div>