<!-- refactor do vertical spacing but not as silly -->
<div class="row">
  <p></p>
</div>

<% if !current_user %>
  <div class="row body">
    <div class="callout alert">
      <h5 class="text-center">This song will not be saved</h5>
      <p class="text-center">Log in or create an account to allow you transcriptions to be saved.</p>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="small-6 small-centered columns">
    <input type="hidden" name="song-id" value="<%= @song.id %>">
    <%= render partial: 'song_header', locals: { song: @song } %>
  </div>

  <div class="song-edit">
    <%= render partial: 'edit_song', locals: { song: @song } %>
  </div>

  <% if super_user && !@song.published %>
    <%= render partial: "publish_button" %>
  <% elsif super_user && @song.published %>
    <%= render partial: "unpublish_button" %>
  <% end %>
</div>

<div class="row">
  <div class="small-6 columns">
    <%= render partial: "publication_status", locals: { song: @song } %>
  </div>
  <div class="small-6 columns">
    <%= button_to "Delete Song", { action: "destroy"}, class: "alert button float-right", method: :delete %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <a class="expanded success button" href="<%= song_path(@song) %>">Done Editing</a>
  </div>
</div>