<div class="container">
  <div class="song-header">
    <h1><%= @song.name %></h1>
    <h2><%= @artists.first.name %></h2>
    <h2><%= @album.title %></h2>
  </div>

  <button type="button" class="begin-section-creation">Add Section</button>
  <div class="section-creation-div">
    <form action="/sections" method="POST" class="create-section">
      <input type="hidden" name="song-id" value="<%= @song.id %>">
      <select name="section-type">
        <option value="verse">verse</option>
        <option value="chorus">chorus</option>
        <option value="bridge">bridge</option>
        <option value="other">other</option>
      </select>
      <select name="section-artist-id">
        <option value="<%= @artists.first.id %>"><%= @artists.first.name %></option>
      </select>
      <input type="submit">
    </form>
  </div>

  <button type="button" class="begin-measure-creation">Add Measure</button>

  <div class="rhythm-creation-div">
    <%= erb :'/partials/duration-buttons' %>
    <p>Current measure:</p>
    <p class='measure-creation-values'></p>
    <p>Current value: </p>
    <p class='measure-creation-total'>0</p>
    <button type="button" class="retry-rhythm-creation">Retry</button>
    <button type="button" class="create-rhythm">Create Rhythm</button>
  </div>

  <div class="input-text-div">
  </div>

  <div class="input-qualities-div">
  </div>

  <div class="display-section">
  </div>

</div>


<!-- <div class="row">
    <div class="col" style="width:80%"><textarea></textarea></div>
    <div class="col"><textarea></textarea></div>
</div>

<div class="row">
    <div class="col" style="width:40%"><textarea></textarea></div>
    <div class="col" style="width:20%"><textarea></textarea></div>
    <div class="col" style="width:40%"><textarea></textarea></div>
</div>

<div class="row">
    <div class="col"><textarea></textarea></div>
    <div class="col" style="width:425px"><textarea></textarea></div>
</div>

<div class="row">
    <div class="col" style="width:15%"><textarea></textarea></div>
    <div class="col" style="width:200px"><textarea></textarea></div>
    <div class="col"><textarea></textarea></div>
    <div class="col" style="width:25%"><textarea></textarea></div>
</div>
 -->
