<div class="container">
  <h1>Rap Analysis Webapp Homepage</h1>

  <ul>
    <% @songs.each do |song| %>
    <li>
      <a href="songs/<%= song.id %>"><%= song.name %></a> :: <a href="artists/<%= song.artists.first.id %>"><%= song.artists.first.name %></a> :: <a href="albums/<%= song.album.id %>"><%= song.album.title %></a>
    </li>
    <% end %>
  </ul>

</div>
