<div class="song-header">
  <h1><%= @song.name %></h2>
  <h3><%= @song.comma_separated_artists %></h3>
  <h3><%= @song.album.title %></h3>
</div>

<div class="song-show">
  <%= render partial: 'show_song', locals: { song: @song, edit: "none" } %>
</div>

<% if super_user || @song.transcriber == current_user %>
  <%= link_to("Edit Song", edit_song_path) %>
<% end %>