<div class="container">
  <div class="song-header">
    <h1><%= @song.name %></h1>
    <h2><%= @artists.first.name %></h2>
    <h2><%= @album.title %></h2>
  </div>

  <div class="spotify-play-widget">

  </div>

  <% if !@song.spotify_uri.nil? %>
  <iframe src="https://embed.spotify.com/?uri=spotify:track:<%= @song.spotify_uri %>" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
  <% end %>


  <div class="display-song">
    <%= erb :'/partials/display-song', locals: { song: @song }, layout: false %>
  </div>
  <% if current_user %>
    <% if @song.transcriber.username == current_user.username %>
      <a href="/songs/<%= @song.id %>/edit"><button>Edit Song</button></a>
    <% end %>
  <% end %>

  <%= erb :'/partials/statistics', locals: { content: @song }, layout: false %>


</div>
